/* All Footer Styling */
footer {
  display: flex;
  grid-area: ft;
  padding: 10px;
  border: 2px solid lightseagreen;
}
#copyright {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  font-size: x-large;
  /* border: 2px solid lightgrey; */
}

#copyleft {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  font-size: x-large;
  /* border: 2px solid lightgrey; */
}

#social {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  font-size: xx-large;
  /* border: 2px solid lightgrey; */
}

#heart {
  color: red;
  align-content: flex-end;
}
