/* All Header Style */
@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Lobster");

header {
  grid-area: hd;
  display: flex;
  padding: 20px;
  color: #444;
  /* border: 2px solid lightseagreen; */
  background-color: pink;
  font-size: xx-large;
  font-family: "Indie Flower", cursive;
}

#navbar {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  list-style: none;
  /* border: 2px solid lightgrey; */
  font-size: x-large;
}

li a {
  text-decoration: none;
  padding: 10px;
  size: 10px;
  color: #444;
  text-emphasis: emphasis;
}

#title {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  list-style: none;
  /* border: 2px solid lightcoral; */
}
