/*  General Body Styling */
body {
  background-color: #444;
  color: #fffff8;
}

/* General GRID Configuration */
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fl);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "hd"
    "lp"
    "main"
    "ft";
  border: 2px solid pink;
  font-size: xx-large;
}

.box {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding: 20px;
  gap: 10px;
  border: 2px solid lightgreen;
}

/* Latest Post Container Styling */
.latestpost {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightyellow;
}
a {
  color: lightblue;
}

/* Blog Post Summary */
.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightyellow;
}
