/*  General Body Styling */
@import url("https://fonts.googleapis.com/css?family=Inconsolata&display=swap");

body {
  background-color: #444;
  color: #fffff8;

  background-image: linear-gradient(
      rgba(68, 68, 68, 0.8),
      rgba(68, 68, 68, 0.8)
    ),
    url("../img/back.jpg");
  background-position: center;
}

/* General GRID Configuration */
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fl);
  grid-auto-rows: minmax(10px, auto);
  padding: 10px;
  gap: 20px;
  grid-template-areas:
    "hd"
    "lp"
    "main"
    "ft";
  /* border: 2px solid pink; */
  font-size: large;
  font-family: "Inconsolata", monospace;
  /* align-content: center; */
}

@media (min-width: 900px) {
  .container {
    grid-template-areas:
      "hd hd hd hd hd hd"
      "main main main main lp lp"
      "ft ft ft ft ft ft";
    font-size: medium;
  }
}

.aboutme {
  grid-area: am;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px transparent;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thick;
}
