/* Latest Post Container Styling */

.latestpost {
  grid-area: lp;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px transparent;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thick;
}

.latestpost a {
  color: lightblue;
  line-height: 1.5;
}

/* Blog Post Summary */
.postcontainer {
  display: grid;
  gap: 15px;
}
.post {
  display: flex;
  flex-direction: column;
  grid-area: "main";
  padding: 10px;
  line-height: 1.2;
  border: 2px transparent;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thick;
  /* border: 2px solid lightyellow; */
}

.post h1 {
  color: lightblue;
  font-size: xx-large;
}

.post h1 a {
  color: lightblue;
  font-size: xx-large;
}

.author {
  display: inline-block;
  line-height: 2.5;
}

.summary {
  line-height: 1.2;
}

.blogcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fl);
  grid-auto-rows: minmax(10px, auto);
  padding: 10px;
  gap: 20px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

button {
  width: 200px;
  background-color: aquamarine;
  align-items: flex-end;
  color: black;
}
