/* Latest Post Container Styling */

.latestpost {
  grid-area: lp;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* padding: 10px; */
  /* border: 2px transparent;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thick; */
  /* border: 2px solid lightyellow; */
}

.latestpost a {
  color: lightblue;
  line-height: 1.5;
}

/* Blog Post Summary */
.postcontainer {
  display: grid;
  gap: 15px;
}

.othercontainer {
  display: grid;
  gap: 15px;
}

/* Avantar */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.cardcontainer {
  /* display: flex; */
  padding: 2px 16px;
  object-fit: contain;
  height: 300px;
  /* background-origin: content-box; */
  background-image: linear-gradient(
      rgba(68, 68, 68, 0.8),
      rgba(68, 68, 68, 0.8)
    ),
    url("../img/author.jpg");
  background-position: center;
  background-size: cover;
  display: block;
  object-fit: cover;
}

/* Post */
.post {
  display: flex;
  flex-direction: column;
  /* grid-area: "main"; */
  padding: 10px;
  line-height: 1.2;
  border: 2px transparent;
  border-top-style: solid;
  border-top-color: pink;
  border-top-width: thick;
  /* border: 2px solid lightyellow; */
}

.post h1 {
  color: lightblue;
  font-size: xx-large;
}

.post h1 a {
  color: lightblue;
  font-size: xx-large;
}

.author {
  display: inline-block;
  line-height: 2.5;
}

.summary {
  line-height: 1.2;
}

.blogcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fl);
  grid-auto-rows: minmax(10px, auto);
  padding: 10px;
  gap: 20px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

button {
  width: 200px;
  border: none;
  font-size: large;
  color: antiquewhite;
  background-color: aquamarine;
  align-items: flex-end;
  color: black;
}
