body {
  background-color: #444;
  color: #fffff8;
}

header {
  display: flex;
  padding: 10px;
  color: aquamarine;
  border: 2px solid lightseagreen;
}

#navbar {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  list-style: none;
  border: 2px solid lightgrey;
}

#title {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  list-style: none;
  border: 2px solid lightcoral;
}

footer {
  display: flex;
  padding: 10px;
  border: 2px solid lightseagreen;
}
#copyright {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-start;
  border: 2px solid lightgrey;
}

#social {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  border: 2px solid lightgrey;
}

li a {
  text-decoration: none;
  padding: 10px;
  size: 10px;
  color: red;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fl);
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  grid-template-areas:
    "hd"
    "lp"
    "main"
    "ft";
  border: 2px solid pink;
  font-size: xx-large;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightyellow;
}

.latestpost {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 2px solid lightyellow;
}

.box {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  padding: 20px;
  gap: 10px;
  border: 2px solid lightgreen;
}
